/*
Flash

A flash message is used to communicate a message to a user.

Markup:
<div class="flash {{modifier_class}}">
    <h2>Heading level 2</h2>
    <h3>Heading level 3</h3>
    <ul>
      <li><a href="">Example list item</a></li>
      <li><a href="">Example list item</a></li>
    </ul>
</div>

.success       - A flash message used for a successful action

Styleguide Notification.Flash
*/

// Use GOV.UK Design System colour variables
$input-border: #e2e2e2;
$input-bg-colour: #f9f9f9;
$login-green: #00692f;
$primary-green: #00823B;
$beta-colour: #f47738;
$info-bg-color: #ddeeff;
$info-border-color: #005EA4;
$error-bg-color: #fff;
$error-border-color: #df3034;
$error-color: #af1324;
$success-bg-color: #e9f5f4;
$success-border-color: #28a197;
$success-color: #28a197;
$alert-bg-red: #b10e1e;
$attorney-yellow: #FFBF47;
$attorney-grey: #0B0C0C;
$shaded-bg-grey: #f8f8f8;
$details-link: govuk-colour("black");
$details-link-hover: govuk-colour("black", $variant: "tint-25");
$alert-failure-bg: #fbede9;
$light-grey: #bfc1c3;
$govuk-blue-colour: #005ea5;
$mask-opacity: rgba(89, 89, 89, .7);
$modal-dialog-yellow: $attorney-yellow;
$govuk-grey-3: #DEE0E2;
$lime-green: #006435;
$light-lime-green: #BFD8CD;
$light-orange: #F47738;
$light-salmon-orange:#FCDDCD;
$scarlet-red: #B10E1E;
$pale-violet-red: #ECC3C7;
$client-request-accepted-border: $lime-green;
$client-request-accepted-bg: $light-lime-green;
$client-request-requested-border: $light-orange;
$client-request-requested-bg: $light-salmon-orange;
$client-request-rejected-border: $scarlet-red;
$client-request-rejected-bg: $pale-violet-red;

.flash {
  border: 3px solid govuk-colour("black", $variant: "tint-25");
  background-color: govuk-colour("black", $variant: "tint-95");
  padding: govuk-spacing(5);
  margin-bottom: govuk-spacing(8);
  max-width: 798px;

  h2 {
    margin: 0;
    font-weight: bold;
  }

  h3 {
    margin: 0 0 govuk-spacing(2);
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
  }
}

.flash.success {
  border-color: #85994b;
  background-color: #e7ebda;

  h2 {
    margin: 0 0 govuk-spacing(2);
  }
}

/*
Error Summary

A flash message used with the `.error-summary` for an error summary item.

Markup:
<div class="flash error-summary error-summary--show">
    <h2>Heading level 2</h2>
    <h3>Heading level 3</h3>
    <ul>
      <li><a href="">Example list item</a></li>
      <li><a href="">Example list item</a></li>
    </ul>
</div>

Styleguide Notification.Flash error
*/

.flash.error-summary {
  border-color: $error-border-color;
  background-color: $error-bg-color;

  h2 {
    margin: 0 0 govuk-spacing(2);
  }

  li {
    color: $error-color;
  }

  a {
    color: $error-color;

    &:hover {
      text-decoration: none;
    }
  }
}

/*
Alert

An alert is used to communicate an **important** message to a user.

Markup:
<div class="alert {{modifier_class}}" role="alert">
  <p class="alert__message">Alert example text</p>
</div>

.alert--success     - A successful message
.alert--failure     - A failure message
.alert--important   - A message of importance
.alert--info        - A message containing information
.alert--borderless  - A borderless message
.alert--slim        - A *slim* message

Styleguide Notification.Alert
*/

.alert {
  clear: both;
  border-left-width: 3px;
  border-left-style: solid;
  margin: 0 0 govuk-spacing(4);
  padding: govuk-spacing(4) govuk-spacing(3);

  .alert__message {
    margin: 0 0 govuk-spacing(2);
    @include govuk-font($size: 19);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .minimise {
    float: right;
    text-align: right;
    margin-top: govuk-spacing(-1);
    margin-bottom: govuk-spacing(2);

    @include govuk-media-query($until: tablet) {
      margin-top: 0;
      display: block;
      float: none;
    }
  }
}

/*
Alert toggle

An example of an alert with toggle functionality to demonstrate the use of the `.minimise` selector.

Markup:
<a href="#" class="js-visible" data-toggle-details="js-toggle-example">Open Alert</a>
<div class="alert js-hidden js-toggle-example">
    <a class="minimise js-visible" href="#">Close Alert</a>
    <p class="alert__message">Example Alert Message with toggle</p>
</div>

Styleguide Notification.Alert toggle
*/

.alert--success {
  background-color: $success-bg-color;
  border-color: $success-border-color;
}

.alert--failure {
  background-color: $error-bg-color;
  border-color: $error-color;
  color: $error-color;
}

.alert--important {
  background-color: $alert-bg-red;
  color: govuk-colour("white");
}

.alert--borderless {
  border: 0;
  border-left-style: none;
}

.alert--slim {
  padding: 0.4em 0.8em 0.3em;
  border-left-width: 4px;
}

/*
Alert Info

The information alert has differing markup to `.alert`. This is why this currently has a separate markup example.

Markup:
<div class="alert alert--info alert--info__light" role="alert">
  <p class="alert__message">Alert example text</p>
</div>

Styleguide Notification.Alert info
*/

.alert--info {
  background-color: $info-bg-color;
  border-color: $info-border-color;
  position: relative;
  margin: govuk-spacing(2) 0;

  &.alert--info__light {
    background-color: $shaded-bg-grey;
    border-color: $light-grey;
  }
}

/*
Highlight

A highlight is used when you wish to highlight content to a user.

Markup:
<div class="highlight-message {{modifier_class}}">
  <p>An example paragraph for the highlight message content. </p>
</div>

.highlight-message--content-body  - A content body width
.highlight-message--full-width    - Full width highlight
.highlight-message--indent        - Indented highlight
.highlight-message--icon-top      - Highlight with an icon aligned to the top
.highlight-message--light         - A light highlight

Styleguide Notification.Highlight
*/

.highlight-message {
  width: 100%;
  box-sizing: border-box;
  border-left: 4px solid govuk-colour("black");
  padding: govuk-spacing(1) 0 govuk-spacing(1) govuk-spacing(7);
  margin-bottom: govuk-spacing(3);

  background: govuk-colour("yellow") url("../images/icons/icon-important.png") no-repeat scroll 10px;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url("../images/icons/icon-important-2x.png");
    background-size: 27px 27px;
  }
  span {
    @include govuk-font($size: 16);
    display: block;
    padding: 2px 0;
  }
}

.highlight-message--content-body {
  @include govuk-media-query($from: desktop) {
    width: 61.66%;
    min-width: 28em;
  }
}

.highlight-message--full-width {
  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
  @include govuk-media-query($from: desktop) {
    width: 100%;
    min-width: 100%;
  }
}

.highlight-message--indent {
  margin: govuk-spacing(4) govuk-spacing(8) govuk-spacing(4) 0;
}

.highlight-message--icon-top {
  background-position: 20px 20px;
}

.highlight-message--light {
  background-color: govuk-colour("white");
  color: govuk-colour("black");
}

/*
Highlight Dark

A highlight is used when you wish to highlight content to a user.
> The dark highlight has differing markup to `.highlight`. This is why this currently has a separate markup example.

Markup:
<div class="highlight-message highlight-message--dark">
  <p>Example highlight text</p>
  <p class="highlight-message--dark-text">Example dark highlight text</p>
</div>

Styleguide Notification.Highlight dark
*/

.highlight-message--dark {
  .highlight-message--dark-text {
    color: govuk-colour("white");
  }

  background-color: $govuk-blue-colour;
  color: govuk-colour("white");
}