/.idea
.idea/encodings.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.env
*.log
xunit.xml
test.tap
coverage
.vscode
mongodb.log

node_modules

npm-debug.log
/node_modules
/reports
selenium-debug.log
linting.xml
logs/fco-loi-user-service-info.log
logs/fco-loi-user-service-error.log