/.idea
.idea/encodings.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.env
*.log
test.tap
coverage
.vscode

node_modules

npm-debug.log
/node_modules
/reports
selenium-debug.log
logs/fco-loi-user-service-info.log
logs/fco-loi-user-service-error.log
