<% pageTitle = "Add an address to your account - Get a document legalised – GOV.UK" %>
<%- include ('../partials/header.ejs') %>

<h1 class="heading-xlarge"  style="margin-bottom: 0.8em">Add an address to your account</h1>
<div class="column-two-thirds">
    <p>Speed up your postal applications by saving return addresses you use regularly.</p>
    <p>If you don't plan to use the standard postal service, you can <a id="initial-skip" href="/api/user/dashboard?complete=true">skip this step</a>.
        You can always add addresses later.</p>
    <a class="button" id="add-address-continue" role="button" href="/api/user/add-address">Continue</a>
</div>

<%- include ('../partials/footer.ejs') %>
