<% pageTitle = "Set a new password - Get a document legalised – GOV.UK" %>

<% include partials/header %>

<h1 class="heading-xlarge">Set a new password</h1>

<div class="error-summary <% if (error) { %>show<% } else { %>hide<% } %>" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
        Please check the form
    </h2>
    <ul class="error-summary-list">
        <%if (error) {error.forEach(function(msg){%>
        <li><a href="#legend_password"><%= msg %></a></li>
        <%})
        }%>
    </ul>

</div>
<div class="column-two-thirds">
<p>Your password has expired and you need to create a new one. Your new password must be different from your last password.</p>

<form action="/api/user/set-new-password" method="post" id="password-reset">
    <div class="form-group" id="legend_password">
        <label for="password" class="form-label-bold">New password</label>
        <span class="form-hint">Minimum 8 characters long with at least 1 capital letter and 1 number</span>
        <input class="form-control" id="password" name="password" aria-required="true" type="password"  >
    </div>
    <div class="form-group">
        <label for="confirm_password" class="form-label-bold">Confirm password</label>
        <input class="form-control" id="confirm_password" name="confirm_password" aria-required="true" type="password" >
    </div>
    <input type="submit" class="button" value="Update password">
</form>

</div>


<% include partials/footer %>