<% pageTitle ="Add a return address - Get a document legalised – GOV.UK" %>
<%if(error_report && error_report.length>0){
    pageTitle = "Error: Add a return address - Get a document legalised – GOV.UK"
} %>
<%include ../partials/header.ejs %>


<a href="<%= initial ? '/api/user/complete-registration' : '/api/user/addresses'%>" class="back_to_previous_button">Back</a>

<%if (error_report && error_report.length>0 ) {%>
    <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1" autofocus style="clear:left; width:66.6%">

        <p class="govuk-error-summary__title" id="error-summary-heading">
            There is a problem 1
        </p>
        <div class="govuk-error-summary__body" id="all-errors">
        <ul class="govuk-error-summary__list">
            <li><a href="#is-uk">Confirm whether the return address is in the UK</a></li>
        </ul>
        </div>
    </div>
<%}%>

<h1 class="heading-xlarge">Add a return address</h1>

<div class="form-group">
    <form id="is-uk" method="post" action="<%= '/api/user/add-address-uk' %>">

        <div class="form-group <%if (error_report && error_report.length>0 ) {%>error<%}%>">
            <h2 class="form-label-bold">Is the return address in the UK?</h2>
            <%if (error_report && error_report.length>0 ) {%><span class="error-message">Confirm whether the return address is in the UK</span><%}%>
            <fieldset class="inline" aria-required="true" role="radiogroup">
                <legend class="visually-hidden">Confirm whether the return address is in the UK</legend>
                <div class="govuk-radios govuk-radios--inline">
                    <div class="govuk-radios__item">

                        <input class="govuk-radios__input" id="radio-yes" type="radio" name="is_uk" value="true"
                               <% if(typeof (uk) != 'undefined' && uk){ %>checked="checked"
                                <% } %>>
                        <label class="govuk-radios__label <% if(typeof (uk) != 'undefined' && uk){ %>selected<% } %>"
                               for="radio-yes">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="radio-no" type="radio" name="is_uk" value="false"
                               <% if(typeof (uk) != 'undefined' && !uk && uk != null ){ %>checked="checked"
                                <% } %>>
                        <label class="govuk-radios__label  <% if(typeof (uk) != 'undefined' && !uk && uk != null){ %>selected<% } %>"
                               for="radio-no">

                            No
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>



        <div class="form-group">
            <button class="govuk-button" type="submit">Continue</button>
        </div>


    </form>
</div>

<% include ../partials/footer.ejs %>
