<% pageTitle = "Change password - Get a document legalised – GOV.UK" %>
<%- include ('../partials/header.ejs') %>
<a href="/api/user/account" class="back_to_previous_button">Back</a>

<h1 class="heading-xlarge">Change password</h1>

<form action="/api/user/change-password" method="post">
    <button class="button" type="submit">Send reset password email</button>
</form>



<%- include ('../partials/footer.ejs') %>
