<% pageTitle = "Change personal details - Get a document legalised – GOV.UK" %>
<% include ../partials/header.ejs %>
<a href="/api/user/account" class="back_to_previous_button">Back</a>
<div class="column-two-thirds">
    <h1 class="heading-xlarge">Change personal details</h1>
    <h2 class="heading-medium">Email Address</h2>
    <p>If you want to change your email address, for example to hand the account over to a colleague, we recommend you create a new account using the new email address and a new password. You'll need to sign out first if you're creating the account yourself.</p>
    <p>If this option does not work for you, contact us at <a href="mailto:legalisationenquiries@fco.gov.uk">legalisationenquiries@fco.gov.uk</a></p>
</div>

<% include ../partials/footer.ejs %>